<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>

<body>
    <div class="container">
        <h1>My Wishlist</h1>
        <div class="wishlist">
            {{#if items.length}}
            {{#each items}}
            <div class="wishlist-item">
                <a href="/product-view/{{this._id}}">
                    <img src="{{this.firstProductImage}}" class="img-fluid product-thumbnail" alt="{{this.name}}">
                </a>
                <div class="wishlist-item-details">
                    <div class="wishlist-item-title">{{name}}</div>
                    <div class="wishlist-item-category">Category: {{category}}</div>
                    <div class="wishlist-item-price">
                        <span>${{price}}</span>
                        {{#if offerPrice}}<del>${{offerPrice}}</del>{{/if}}
                    </div>
                    <div class="wishlist-item-color">
                        <p>Color:</p>
                        <ul>
                            {{#if colorCode}}
                            <li>
                                <span
                                    style="display:inline-block; width:20px; height:20px; background-color:{{colorCode}}; border:1px solid #000; margin-right:5px;"></span>
                                {{colorName}}
                            </li>
                            {{else}}
                            <p>No color information available</p>
                            {{/if}}
                        </ul>
                    </div>

                    <div class="wishlist-item-time">Added on: {{createdTime}}</div>
                    <a href="/cart/addtocart/{{_id}}" class="add-to-cart">Add to Cart</a>
                </div>
            </div>

            {{/each}}
            {{else}}
            <p>Your wishlist is empty!</p>
            {{/if}}
        </div>
    </div>
</body>

</html>